<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://aishek.github.io/jquery-animateNumber/javascripts/jquery.animateNumber.js"></script>
<script>
  var socket = io.connect('/{{tableid}}');
  socket.on('active', function(data){
    if(data['position'] == "{{position}}"){
      $('td').css('color', '#fff000');
    } else {
      $('td').css('color', '');
    }
  });
  socket.on('players', function (data) {
    console.log(data)
    if('{{position}}' == data.position && data.action != "leave"){
        var player = data;
        /*console.log(player.name);
        console.log($('#playerName').text());*/
        if(player.name != $('#playerName').text()){
          $('#playerName').fadeOut(function(){
            $('#playerName')
              .text(player.name)
              .fadeIn();
          })
        }

        $('#lifeTotal').animateNumber({
          number: player.life,
        }).prop('number', player.life);

        if(player.commander != $('#commanderName').text()){
          $('#colorWheel > img').fadeOut();
          $('#commanderName')
            .fadeOut(function(){
              $('#commanderName').text(player.commander).fadeIn();
              $('#colorWheel > img')
                .attr('src', '/static/mana/' + player.commanderInfo.manaIcon)
                .fadeIn();
            });
        }

        if(!$('#card').is(':visible')){
            $('#card').fadeIn();
        }
    } else {
      if($('#card').is(':visible')){
          $('#card').fadeOut();
      }
    }
  });
</script>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:700italic' rel='stylesheet' type='text/css'>
<style>
body, td{ font-family: 'Josefin Sans', sans-serif; color: white;}
body{background-color: #00ff00;}
local#commanderName{ font-size: 16px; text-transform: capitalize;}
#lifeTotal{ font-size: 30px; text-align: right; padding-right: 10px; }
#colorWheel{ width: 50px;}
#card{
     border-radius: 90px 90px 90px 90px;
     -moz-border-radius: 90px 90px 90px 90px;
     -webkit-border-radius: 90px 90px 90px 90px;
     background:black;
    {% if rotate == "1" %}
     -ms-transform: rotate(90deg); /* IE 9 */
     -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
     transform: rotate(90deg);
     margin-top: 200px;
     margin-left: -100px;
    {% endif %}
    {% if rotate == "2" %}
     -ms-transform: rotate(270deg); /* IE 9 */
     -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
     transform: rotate(270deg);
     margin-top: 200px;
     margin-left: -100px;
    {% endif %}
}
</style>
<table width="400" id="card">
    <tr>
        <td id="colorWheel" rowspan="2">
            <img height="40" src="/static/mana/{{commanderInfo.manaIcon|default('none.png')}}" />
        </td>
        <td>
          <span id="playerName">{{name}}</span>&nbsp;
        </td>
        <td id="lifeTotal" rowspan="2">{{life}}</td>
    </tr>
    <tr>
        <td>
          <span id="commanderName">{{commander}}</span>&nbsp;
        </td>
    </tr>
</table>
<script>
$(document).ready(function(){
  $('#lifeTotal').prop('number', {{life|default('0')}});
  {% if blank %}
  $('#card').hide();
  {% endif %}
  {% if active == position %}
  $('td').css('color', '#fff000');
  {% endif %}
});
</script>